.regist__logo {
  display: flex;
  margin-right: 1rem;
}

.regist__logo h6 {
  font-size: 2rem;
  font-weight: 700;
  background: -webkit-linear-gradient(308deg, rgba(82,189,27,0.9417016806722689) 0%, rgba(175,204,21,0.8940826330532213) 52%, rgba(144, 134, 117, 0.894) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 1s;
  cursor: url('../../assets/NeonLinkSelectGreen.jpg'), auto;
}

.regist__logo h6:hover {
  /* text-shadow: -0.9px 0.9px 0.4px #7bea4fce, -1.8px 1.8px 0.8px #39969c,
  -2.7px 2.7px 1.2px #9ef0f6,
  -3.6px 3.6px 1.6px #276569,
  -4.5px 4.5px 2px #4fa8ae,
  -5.4px 5.4px 2.4px #cfd4d5,
  -6.3px 6.3px 2.8px #19c0cb,
  -7.2px 7.2px 3.2px #545d5e,
  -8.1px 8.1px 3.6px #b5e6ea,
  -9px 9px 4px #90e9ef; */
  animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(0.75, 1.25, 1);
	}

	40% {
		transform: scale3d(1.25, 0.75, 1);
	}

	50% {
		transform: scale3d(0.85, 1.15, 1);
	}

	65% {
		transform: scale3d(1.05, 0.95, 1);
	}

	75% {
		transform: scale3d(0.95, 1.05, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

.regist {
width: 100vw;
height: 100vh;
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%), url('../../assets/login.jpg') no-repeat;
background-size: cover;
position: relative;
}

.regist__top {
  padding: 20px 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

.regist__container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.regist__container form>input::placeholder {
  color: #fff;
}

.regist__container form {
  margin-top: 1rem;
  width: 350px;
height: 300px;
padding: 30px;
border-radius: 10px;
background: rgba(0,0,0,0.8);
display: flex;
flex-direction: column;
justify-content: space-around;
}

.regist__container h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
.regist__container h2 {
  margin: 1rem;
  font-size: 1.3rem;
}
.regist__container p {
  font-size: 1.4rem;
}


.regist__container form>input {
  border-radius: 5px;
  height: 40px;
  padding: 1rem;
  background: linear-gradient(308deg, rgb(29, 70, 8) 0%, rgb(70, 80, 23) 52%, rgb(84, 76, 40) 100%);
  border: 3px ridge grey;
}

.regist__button {
  border-radius: 5px;
}
.regist__button button{
  padding: 5px 126px;
}

.regist__container label {
  font-size: 2rem;
}