.glowing-btn {
  position: relative;
  color: #39FF14;
  cursor: url('../../assets/NeonLinkSelectGreen.jpg'), auto;
  padding: 0.2rem 2rem;
  border: 0.15em solid #39FF14;
  border-radius: 0.45em;
  background: rgba(0,0,0,0.9);
  perspective: 2em;
  font-size: 1.2em;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px #39FF14,
    0px 0px 0.5em 0px #39FF14;
  -moz-box-shadow: inset 0px 0px 0.5em 0px #39FF14,
    0px 0px 0.5em 0px #39FF14;
  box-shadow: inset 0px 0px 0.5em 0px #39FF14,
    0px 0px 0.5em 0px #39FF14;
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em #39FF14;
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em #39FF14;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em #39FF14;
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: #39FF14;
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: #39FF14;
  box-shadow: 0 0 2em 0.2em #39FF14;
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .glowing-btn{
    font-size: 1em;
    padding: 0.2rem 1rem;
  }
}
@media screen and (max-width: 360px) {
  .glowing-btn{
    font-size: 10px;
    padding: 0.2rem 0.5rem;
  }
}